
@{
    ViewBag.Title = "Index";
}

<h2>常見問題</h2>

<div class="in_box q_box">
    <ul class="metismenu" id="side-menu-2">
        <ul class="nav nav-pills navtab-bg nav-justified">

            <li class="nav-item2 waves-effect waves-light">
                <a href="#qtype_9" data-toggle="tab" aria-expanded="true" class="qtype_9 nav-adjust nav-link">一般問題</a>
            </li>

            <li class="nav-item2 waves-effect waves-light">
                <a href="#qtype_2" data-toggle="tab" aria-expanded="true" class="qtype_2 nav-adjust nav-link">投資相關問題</a>
            </li>

            <li class="nav-item2 waves-effect waves-light">
                <a href="#qtype_1" data-toggle="tab" aria-expanded="true" class="qtype_1 nav-adjust nav-link">借款相關問題</a>
            </li>

        </ul>

        <div class="tab-content tab_box">

            <div class="tab-pane" id="qtype_9">

        <li>
            <a href="javascript: void(0);">
                <span>
                    BFTF媒合平台和銀行有什麼不同?
                </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level collapse in" aria-expanded="false">
                <li class="mt-1">
                    眾所皆知向銀行借貸的利息一定是最低的，可是銀行要求檢附的資料、
                    財力證明以及信用評分等等往往讓很多借款人被打回票，即使所需資料都符合了，
                    也常因急用而銀行審核期太長而等不及(一般銀行承作不動產抵押借貸約需30天才能撥款)。
                    PP2P網路借貸是媒合借貸雙方的直接金融，不在其中賺取利差，大幅減少交易成本，
                    可以讓借貸雙贏互利。且一般投資大眾，不管資金多寡，都有參與的機會。
                </li>
            </ul>
        </li>
        <hr />

        <li>
            <a href="javascript: void(0);">
                <span> 民間借貸在哪些情形下是違法的？</span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level collapse in" aria-expanded="false">
                <li class="mt-1">
                    我國《刑法》第344條重利罪規定：「乘他人急迫、輕率、無經驗或難以求助之處境，
                    貸以金錢或其他物品，而取得與原本顯不相當之重利者，處三年以下有期徒刑
                    、拘役或科或併科三十萬元以下罰金」。年利率超過16%即可能觸犯重利罪。
                </li>
            </ul>
        </li>
        <hr />

        <li>
            <a href="javascript: void(0);">
                <span>
                    為甚麼要進行身分認證?
                </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="nav-second-level collapse in" aria-expanded="false">
                <li class="mt-1">
                    BFTF是一個資金媒合平台，根據政府法規規定，為了保障借貸人與投資人雙方的金流安全
                    以及防制洗錢行為，需要會員進行實名認證。
                </li>
            </ul>
        </li>

</div>

<div class="tab-pane" id="qtype_2">

    <li>
        <a href="javascript: void(0);">
            <span> 如果借貸成功後，對方不還錢該如何處理？</span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level collapse in" aria-expanded="false">
            <li class="mt-1">
                a.發通知催債。不論是用簡訊、line等通訊軟體通知，要確認債務人有收到催款的意思。
                正式的方式還是寄發存證信函、律師函等催告。如果沒有定還款期限，可以隨時請求還款，
                或者定一個月以上的期限，催告對方在期限內還款。
                b.先行調解。可以到區公所或法院聲請調。
            </li>
        </ul>
    </li>
    <hr />

    <li>
        <a href="javascript: void(0);">
            <span>在BFTF投資，是否有法律合約的保障?</span>

            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level collapse in" aria-expanded="false">
            <li class="mt-1">
                BFTF為一P2B網路融資媒合平台，借款人與投資人雙方之民間借貸行為，
                民間借貸是指不透過銀行體系所發生的借貸，借款關係發生在企業或個人之間。
                民間借貸是中華民國《民法》中一種消費借貸之法律行為，
                行為人在具有完全民事行為能力（即年滿20足歲，且無禁治產之情事）、
                意思表示一致、交付借款金額，借款契約符合法律、行政法規規定，則該借貸合約完全受到《民法》等法律的保護。
            </li>
        </ul>
    </li>
    <hr />

    <li>
        <a href="javascript: void(0);">
            <span>債權可以轉讓給別人嗎? 是合法的嗎?</span>

            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level collapse in" aria-expanded="false">
            <li class="mt-1">
                我國《民法》第294條規定:「債權人得將債權讓與於第三人」。
                我國《民法》第350條規定:「債權或其他權利之出賣人，應擔保其權利確係存在」。
                所以在我國《民法》條文中，就明確賦予債權買賣的法律依據。
            </li>
        </ul>

        <hr />

        <a href="javascript: void(0);">
            <span>在BFTF投資能不能保障獲利或是還本?</span>

            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level collapse in" aria-expanded="false">
            <li class="mt-1">
                投資皆具有風險存在，BFTF致力於為投資人層層把關，
                以嚴謹的標準與數道審核流程來排除有疑慮的申貸案件，
                但仍無法為投資人保證獲利或保證完全回收資金，投資人務必審慎衡量個人風險承受能力
                ，選擇合適的投資標的。

            </li>
        </ul>


        <hr />
    <li>
        <a href="javascript: void(0);">
            <span>
                什麼是債權轉讓?
            </span>

            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level collapse in" aria-expanded="false">
            <li class="mt-1">
                簡單說，就是A借100塊錢給B後，A卻突然發現，需要100元買東西，就和C說”你給我100元，B欠我的錢，他到時候就直接還給你”

                也就是，債權人A，把債權賣給C。債務人還是B，但債權人變成C。
                BFTF是由進階會員先放款給借款人，進階會員可將債權再賣給一般投資人，一般會員買入的債權，其合約條件與進階會員是相同的。

                民法350條 債權或其他權利之”出賣人”，應擔保其權利確係存在。從民法條文中，就明確賦予債權買賣的法律依據。

            </li>
        </ul>
    </li>

    <hr />
    <li>
        <a href="javascript: void(0);">
            <span>
                要如何成為投資人，有任何的資格限制嗎?
            </span>

            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level collapse in" aria-expanded="false">
            <li class="mt-1">
                凡年滿20歲，具有中華民國國籍，符合民法規定具備完全行為能力之自然人，
                或依法設立之營利事業，並擁有可正常交易之銀行帳號戶作為收款帳戶。
            </li>
        </ul>
    </li>
    <hr />
    <li>
        <a href="javascript: void(0);">
            <span>
                什麼是年化報酬率?
            </span>

            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level collapse in" aria-expanded="false">
            <li class="mt-1">
                一般投資報酬率的計算，常說幾%，都是以”一年”為基準。
                例如，銀行定存一年利率1.2%，100萬放一年只有1萬2000元利息。
                但若一個人要借錢，約定三個月後還，報酬率是1.2%，計算年化報酬率就是1.2%X4= 4.8%
                因為借款案的期限長短不一，有的三個月、有的九個月不等，為了有相同的比較基礎，
                因此用年化報酬率時，就非常容易比較不同案件的報酬率高低。

            </li>
        </ul>
    </li>
    <hr />
    <li>
        <a href="javascript: void(0);">
            <span>
                若借款人發生利息遲繳，平台會採取什麼行動?
            </span>

            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level collapse in" aria-expanded="false">
            <li class="mt-1">
                平台依照遲繳天數，通知借款人除了原本該繳的金額，還要加上遲繳天數的滯納金。
            </li>
        </ul>
    </li>

</div>

<div class="tab-pane" id="qtype_1">

    <li>
        <a href="javascript: void(0);">
            <span>
                信用空白也可以借款嗎?
            </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level collapse in" aria-expanded="false">
            <li class="mt-1">
                可以。
            </li>
        </ul>
    </li>
    <hr />

    <li>
        <a href="javascript: void(0);">
            <span>請問可以提前清償嗎?</span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level collapse in" aria-expanded="false">
            <li class="mt-1"> 可以。</li>
        </ul>
    </li>
    <hr />

    <li>
        <a href="javascript: void(0);">
            <span>要如何取得聯徵分數</span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="nav-second-level collapse in" aria-expanded="false">
            <li class="mt-1">
                臨櫃：本人親臨或委託他人至聯徵中心櫃檯辦理。<br />
                郵局代收代驗：本人親臨郵局儲匯窗口辦理。<br />
                郵寄：本人郵寄辦理。<br />
            </li>
        </ul>
    </li>
    <hr />

</div>









