
@{
    ViewBag.Title = "Main";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body>
    <div>
    </div>
    <img src="~/images/ApplyMain1.jpg" width="1000" />
    <img src="~/images/ApplyMain2.jpg" width="1000" />
</body>
</html>




<div class="col-md-4">
    <p><a class="btn btn-default" href="Create" style="width:500px;height:100px"><font size="150">立即借款&raquo;</font> </a></p>
</div>

<div class="col-md-4">
    <p><a class="btn btn-default" href="/LoanTrial/Create" style="width:500px;height:100px"><font size="150">貸款試算&raquo;</font> </a></p>
</div>