
@{
    ViewBag.Title = "Main";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body>
    <div>
    </div>
    <img src="~/images/InvestMain1.jpg" width="1000" />
    <img src="~/images/InvestMain2.jpg" width="1000" />
</body>
</html>


@*以下連結還沒弄好*@
<div class="col-md-4">
    <p><a class="btn btn-default" href="/Apply/Index" style="width:500px;height:100px"><font size="150">立即投資&raquo;</font> </a></p>
</div>

<div class="col-md-4">
    <p><a class="btn btn-default" href="Calculate" style="width:500px;height:100px"><font size="150">債權轉讓&raquo;</font> </a></p>
</div>
